.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top:-1px;
    right: -3px;
    border: 2px solid white;
}
.rightbarUsername{
    margin-left: 5px;
    font-weight: 500;

}