.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
    -webkit-box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
    -moz-box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
}
.shareWrapper{
    padding: 10px;

}
.shareTop{
    display: flex;
    align-items: center;
}
.shareImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareInput{
    border: none;
    width: 80%; 
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px; 
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 20px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    
}
.shareIcon{
    margin-right: 5px;
    font-size: 18px;
}
.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}
.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
-webkit-box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
-moz-box-shadow: 8px 9px 20px -2px rgba(73,73,120,0.75);
background-color: green;
color: white;
margin-right: 20px;
cursor: pointer;

}