.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px  ;
}

/* this is adecoration for schroll bar  */
::-webkit-scrollbar{
    width:4px;
}
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(216, 207, 207) ;
}
.sidebarWrapper{
    padding:20px;
}
.sidebarList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarBtn{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}
.sidebarHr{
    margin: 20px 0;

}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
